a:link, a:visited{
  font-family: Roboto;
  color: white;
  background-color: #041863;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #304a7d;
}

.btn-primary {
  background: #304a7d;
  color: rgb(253, 253, 253);
}