.btn-info{
  background: #041863; 
  color: white;
  border-radius: 7;
  border-color: #041863;
}
.btn-info:hover {
  background: #1e327c; 
  color: white;
  border-color: #1e327c;
}

.btn-primary {
  background: #304a7d;
  color: rgb(253, 253, 253);
  border-color: #304a7d;
  box-shadow: 1px 2px 5px #000000;
}